import React from 'react'

const {{pascalCase name}} = () => {
return (
<div>
  {{pascalCase name}}
</div>
)
}

export default {{pascalCase name}}

// export const getStaticProps = async context => {}

// export const getStaticPaths = async () => {}

// export const getServerSideProps = async context => {}
